@import '_variables';

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -$spacer;

  &__item {
    width: 100%;

    @media (min-width: 600px) {
      width: 50%;
    }

    @media (min-width: 900px) {
      width: 33.3333%;
    }

    @media (min-width: 1200px) {
      width: 25%;
    }
  }
}
