@import '_variables';

footer {
  padding: $spacer;
  background-color: $secondary-color;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 1.5 * $spacer;
    margin-right: $spacer / 2;
  }

  a {
    color: #FFF;

    &:hover {
      text-decoration: none;
    }
  }
}
