@import '_variables';

.pokemon-list-item {
  a {
    display: block;
    box-shadow: 1px 1px 4px 0px $shadow-color;
    background-color: $white;
    padding: $spacer;
    margin: $spacer;
    text-decoration: none;
    color: inherit;
    transition: transform .2s ease-in-out;
    text-align: center;
    text-transform: capitalize;

    &:hover {
      transform: scale(1.1);
    }
  }
}
