<div class="u-container u-margin-top">
  <h1>Hallo daar!</h1>

  <p>Via dit project proberen we om enkele basis-principes te tonen die wij belanrijk vinden in angular applicaties.</p>
  <p class="u-margin-bottom">We delen ook graag de <a href="https://media.studiohyperdrive.be/presentations/presentatie-angular.pdf">bijhorende presentatie</a> en de <a href="https://github.com/studiohyperdrive/angular-demo">broncode op github</a>.</p>

  <div class="u-margin-bottom">
    <a routerLink="pokedex" class="cta">Bekijk de demo!</a>
  </div>


  <h2>Nuttige links:</h2>
  <ul>
    <li><a href="https://angular.io/" target="_blank">Angular documentatie</a></li>
    <li><a href="https://rxjs.dev/guide/overview" target="_blank">RxJS documentatie</a></li>
    <li><a href="https://rxmarbles.com" target="_blank">RxJS marbles</a></li>
    <li><a href="https://ngrx.io/" target="_blank">NgRx documentatie</a></li>
  </ul>

  <h2>Contacteer ons:</h2>
  <ul>
    <li><a href="https://studiohyperdrive.be" target="_blank">studiohyperdrive.be</a></li>
    <li><a href="https://twitter.com/studiohyperdrv" target="_blank">Twitter</a></li>
  </ul>

</div>
