/* You can add global styles to this file, and also import other style files */

@import '_variables';

@import 'utils/_layout';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  font-family: $font-family;
  background-color: $bg-color;
  color: $font-color;
}
