// Zorg ervoor dat je dit stuk configuratie toevoegt aan angular.json zodat je scssfiles kan importeren in je componenten
// "stylePreprocessorOptions": {
//   "includePaths": [
//     "./src/scss"
//   ]
// },


$spacer-s: 10px;
$spacer: 15px;
$spacer-l: 30px;

$secondary-color: #220538;

$font-family: 'Open Sans', sans-serif;
$font-color: #020202;
$bg-color: #efefef;
$shadow-color: #b19e9e;
$white: #FFF;
