// Zorg ervoor dat je dit stuk configuratie toevoegt aan angular.json zodat je scssfiles kan importeren in je componenten
// "stylePreprocessorOptions": {
//   "includePaths": [
//     "./src/scss"
//   ]
// },


$spacer: 15px;

$secondary-color: #220538;

$font-family: 'Open Sans', sans-serif;
$font-color: #020202;
$bg-color: #efefef;
$card-shadow-color: #b19e9e;
$card-bg-color: #FFF;
